nav {
    background: #333;
    padding: 1px 20px;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  

  .logo img{
      width: 50px;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 20px;
    font-weight: 600;
    padding: 6px 5px;
    white-space: nowrap;
  }
  
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 2px #444 solid;
  }
  
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  
  /* Navbar Toggle */
  .toggle {
    cursor:pointer;
  }
  .bars {
    background: #999;
    display: inline-block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 25px;
  }
  .bars:before,
  .bars:after {
    background: #999;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .bars:before {
    top: 8px;
  }
  .bars:after {
    top: -8px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }
  
    .logo {
        flex: 1;
    }
  
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: #4B68A8 ;
        border: 2px #4B68A8 solid;
        border-radius:50em;
    }
    .button.secondary a {
        background: transparent;    
    }
    .button a:hover {
        text-decoration: none;
        transition:all .25s;
    }
    .button:not(.secondary) a:hover {
        background: rgba(68, 187, 102, 0.911);
        border-color: #4B68A8;
    }
    .button.secondary a:hover {
        color:  rgba(68, 187, 102, 0.911);
    } 
  }
  
  /* Desktop menu */
  @media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 0px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
  }